*{ 
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

a {
    color: #c70c0c;
}

a:hover {
    color: #970909;
}

button {
    padding: .5rem 1.5rem .5rem 1.5rem;
    color: white;
    background-color: #111111;
    border: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.25);
    transition: 1s;
    letter-spacing: .2rem;
}

button:hover {
    background-color: #000000;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    letter-spacing: .4rem;
}

#imagen1, #imagen2 { 
    display: none;
    text-align: center;
    width: 20%;
    -webkit-animation: fade 4s linear forwards;
    animation: fade 4s linear forwards;
}

#passwordInput {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    display: none;
    color: #ffffff;
    text-align: center;
    animation: fadeIn 2s linear forwards;    
}

#validarBtn, .card {
    display: none;
    text-align: center;
    animation: fadeIn 2s linear forwards;
}

.card {
    width: 40rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181717;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.589);
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.card::-webkit-scrollbar {
    display: none;
}

.icon {
    height: 10rem;
}

#modalMsg {
    color: #000e8e;
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 1.5rem;
}

.firma {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes fade {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@media only screen and (max-width: 1000px) {
    #imagen1, #imagen2 { 
        width: 50%;
    }
    .card {
        width: 100%;
        background-color: #181717;
    }
}